/* shared style */
.display-flex{
    display: flex;
}
.inter-font{
    font-family: inter;
    font-size: 20px;
    font-weight: 500;
}
.dark-2{
    color:#252432;
    font-weight: 700;
}
.dark-1{
    color: #8987A1;
}
.dark-3{
    color: #000000;
}
.orange{
    color: #E95A08;
}

/* Header style */
/* navbar-style */
.navbar {
   justify-content: space-between;
   max-width: 1140px;
   margin: 0 auto;
  
}
.nav-items{
   list-style: none;
   margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.nav-item{
    gap: 50px;
}
/* banner design */

.banner{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
}
.banner-head h3{
    font-family: Noto serif;
    font-size: 40px;
    font-weight: 700px;
    padding: 0px;
}
.second-head{
  margin-top: -30px;
}
.banner-description{
    font-family: inter;
    font-size: 22px;
    font-weight: 300;
    color:#8987A1;
    width: 570px;
    height: 108px;
    margin-top: -25px;
}
.banner-content{
    margin-top: 75px;
    margin-bottom: 0;
    align-items: left;
}
.banner img{
    width: 570px;
    height: 355px;
}
/* plant section style */
.plants-section{
    max-width: 1140px;
    margin: 0 auto;

}

.Plants-title h3{
    font-family: Noto serif;
    font-size: 50px;
    font-weight: 700;
    margin: 16px 126px 16px 126px;
}
.Plants-title p{
    font-family: inter;
    font-size: 22px;
    font-weight: 300;
    color:#8987A1;
    width: 888px;
    height: 54px;
    margin: 16px 126px 16px 126px;
    text-align: center;
}
.Plants-title{
    text-align: center;
    justify-content:center;
    margin-top: 70px;
    align-items: center;
}
.Plants img{
    width: 270px;
    height: 323px;
}
.Plants-name{
    font-family: inter;
    font-size: 22px;
    font-weight: 700;
    color: #111111;
}
.Plants-subtitle{
    font-family:inter;
    font-size: 22px;
    font-style:500;
    color: #111111;
    gap: 30px;
}
.btn-primary{
    background-color: #E95A08;
    width: 270px;
    height: 50px;
    gap: 10px;
    border: none;
    font-family: inter;
    font-size: 16px;
    color: #ffffff;
   }
.Plants{
    height: 484px;
    gap: 30px;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
   }
.Plants-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   margin-bottom: 30px;
    margin-top: 60px;
    gap: 20px;
}
/* Plants Lover section */
.Plants-lover{
    width: 1140px;
    margin: 0 auto;
}
.plant-lover-image{
    margin-top:200px ;
    align-items: center;
    justify-content: center;
}
.image-1{
    width: 540px;
    height: 597px;
}
.image-2{
    width: 286px;
    height: 286px;
    position: absolute;
    margin-top: -100px;
    margin-left: -150px;
    
}
.plants-heading{
    font-family: Noto serif;
    font-size: 50px;
    font-weight: 700;
    color: #000000;
    width: 540px;
}
.plant-list{
    font-family: inter;
    font-size: 20px;
    font-weight: 300;
    color:#8987A1;
     width: 540px; 
    height: 108px; 
    gap: 10px;
    margin-right: 153px;
    display: flex;
    flex-direction: column;
    margin-top: -20px;

   
}
.plants-description{
    width:540px;
    height: 521px;
   margin-bottom: -250px;
}
.plants-lover{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
/* deal section style */
.deal-section{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
   gap: 16px;
    margin-bottom: -1000px ;
}
.deal-section p{
    font-family: inter;
    font-size: 20px;
    font-weight: 300;
    color:#8987A1;
    width: 888px;
    height: 54px;
    margin-top: -40px;
  }
/* Join section style*/
.join-section{
    width: 1440px;
    margin-top: 0 auto;
}
.join-content{
    width: 1440px;
    height: 533px;
    background-image: url(../Images/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 90px;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-left: 200px;
}
.join-title{
    font-family: Noto serif;
    font-size: 50px;
    font-weight: 700;
    color: #FFFFFF;
    width: 586px;
    text-align: center;
    align-items: center;
    justify-self:center;
}
.join-box{
    width: 644px;
    height: 50px;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
}
.btn-primary-1{
    background-color: #E95A08;
    width: 186px;
    height: 55px;
     border: none;
    font-family: inter;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 0;
    margin: 0;
   }
   /* footer style */

   .footer-section{
    width: 1440px;
    margin: 0 auto;
  }
   .footer-container{
    display: flex;
    width: 1120px;
    height: 248px;
    justify-content: center;
    align-items: center; 
    padding: 160px 50px;
    margin-left: 50px;
    margin-top: -100px;
   
   }
 
  .footer-content p{
          font-family: inter;
          font-size: 22px;
          color:#8987A1;
          width: 359px;
          height: 81px;
  }
  .footer-link{
     text-decoration: none ;
  }
  .footer-item{
    list-style: none;
    margin:30px;
  }
  .footer-icon{
    width: 216px;
    height: 36px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    margin-bottom: 180px;
    margin-left: 10px;
    
   
  }
  .icon-twitter{
    width: 36px;
    height: 36px;
  }














@media screen  and (max-width:576px) {
    /*navbar responsuive  */
.hide{
    display: none;
}

    .navbar{
      width: auto;
       justify-items: space-between;
    }
    .navbar img{
        width: 63px;
        height: 38px;
    }
/* banner responsive */
    .banner-content{
       margin-top: -10px;
       margin-left: 16px;
       margin-right: 16px;
       margin-bottom: 28px;
    }
    .banner img{
        width: 393px;
        height: 245px;
    }
    .banner{
        flex-direction: column-reverse;
    }

    .banner-head h3{
       font-size: 30px;
        font-weight: 700px;
        padding: 0px;
    }
    .banner-description{
        font-size: 15px;
        width: 100%
    }
    /* plants item responsive */
    .Plants-title h3{
        font-size: 24px;
       
    }

    .Plants-title  p{
        font-size: 14px;
        margin-right: 28px;
        margin-left:28px;
        margin-top: 16px;
        width: 336px;
        height: 68px;
    }
    .Plants-title {
        width: 393px;
        height: 117px;
        margin-top: -20px;
    }

    .Plants img{
        width:170px;
        height: 196px;
    }

    .btn-primary{
        width: 171px;
        height: 50px;
        margin-bottom: 5px;
    }
   .Plants-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 10px;
    margin-right: 16px;
}

.Plants{
    height: 340px;
    max-width: 171px;
    gap: 20px;
    text-align: center;
    margin-left: 14px;
    margin-bottom: 30px;
   
}
.Plants-subtitle .Plants-name{
    font-size: 16px;
}
/* plants-lover-section-responsive */
.image-1{
    width: 358px;
    height: 396px;
    margin-top: -160px;
}
.image-2{
    display: none;
}
.plants-description{
    width: 361px;
    height: 648px;
    margin-top: -70px;
    

}
.plants-lover{
    flex-direction: column;
    

}
.plants-heading{
    font-size: 24px;
}
 
.plant-list{
    font-size: 14px;
    flex-direction: column;
    gap: 16px;
    margin-left: -30px;
    width: 361px;
    height: 51px;
}
/* deal section responsive */
.deal-section{
    width: 393px;
    height: 117px;
    gap: 16px;
    margin-top: -70px; 
}
.deal-section p{
font-size: 14px;
width: 336px;
height: 68px;
}
/* join section style */
.join-section{
    width: 400px;
    height: 500px;
    margin: 0 auto;
  
    
}
.join-content{
    width: 400px;
    height: 276px;
    margin-top: -50px;
    margin-left: -1px;
}
.join-title{
  
    font-size: 24px;
}
.join-box{
    width: 200px;
    font-size: 14px;
}
  
.btn-primary-1{
     font-size: 12px;
    width: 103px;
    height: 55px;
}
/* footer responsive */
}
   